.cardComponent {
    display: flex;
    flex-direction: column;
    width: 14em;
    align-items: center;
    justify-content: center;
    background-color: #fdcdcd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}