.headerComponent {
  width: 100vw;
  height: 5em;
  background-color: #0f1111;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.logo {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
}

.logoImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navBar {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navList {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}

.navItem {
  margin-right: 4em;
  color: white;
  text-decoration: none;
}

.navItem:last-child {
  margin-right: 0;
}
.navItem:hover {
  cursor: pointer;
}